.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	padding: 24px;
	min-height: 100vh;
	background: var(--tile-primary-color);
}

.widget {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
