.field {
    display: grid;
    gap: 0;
}

.small {
    grid-template: repeat(9, var(--tile-size-l)) / repeat(9, var(--tile-size-l));
}

.medium {
    grid-template: repeat(16, var(--tile-size-l)) / repeat(16, var(--tile-size-l));
}

.large {
    grid-template: repeat(16, var(--tile-size-l)) / repeat(30, var(--tile-size-l));
}
